<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Test Form</title>
</head>
<body>
<!--<form method="POST" th:href="@{/api/1.0/database/write/collection(orderId=${userId})}">-->
<!--<form action="/database/test" method="POST">-->
<!--    <label for="userId"></label>-->
<!--    <input type="text" id="userId" style="display: none">-->
<!--    <label for="collectionName">collection</label>-->
<!--    <input type="text" id="collectionName"/>-->
<!--    <input type="submit"/>-->
<!--</form>-->
<!--<form action="/api/1.0/database/write/document" method="POST">-->
<!--    <label for="collectionName">collection</label>-->
<!--    <input type="text" id="collectionName"/>-->
<!--    <label for="document">document</label>-->
<!--    <input type="text" id="document"/>-->
<!--    <input type="submit"/>-->
<!--</form>-->
<form action="/database/test" method="POST">
    <label for="collection">collection</label>
    <input type="text" id="collection" name="collection"/><br/><br/>
    <label for="document">document</label>
    <input type="text" id="document" name="document"/><br/><br/>
    <label for="field">field</label>
    <textarea id="field" name="field"></textarea><br/><br/>
    <input type="submit"/>
</form>
</body>
</html>
